/build*/
/obj-*/
/.pc/
/.cache/
/.vscode/
/.idea/
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/halo-keyboard/
debian/tmp/
